    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;900&family=Roboto:wght@400;700;900&display=swap');


/* **************
*               *
*    default    *
*               *
************** */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* ***********
*            *
*    body    *
*            *
*********** */
body {
    font-family: "Roboto", "sans-serif";
    text-align: center;
    background-color: #1f2023;
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
}

h1 {
    font-family: "Poppins", "sans-serif";
    font-weight: 900px;
    color: #e7eaed;
    font-size: 50px;
    text-align: center;
    border-top: #4d6d62 solid 15px;
    border-bottom: #4d6d62 solid 15px;
    border-right: 15px solid transparent;
    border-left: 15px solid transparent;
    margin-top: 30px;
    
}

form {
    display: block;
}

fieldset {
    background-color: #d5e2de;
    /* margin: 20px; */
    margin-bottom: 25px;
    border: solid #4D6D62;
    border-radius: 5px;
}

fieldset:focus-within {
    background-color:  #A6C1B9;
}

fieldset:focus-within > legend{
    background-color: #2B3D36;
    
}

input, #nacionalidad{
    color: #4D6D62;
    font-size: 15px;
}

legend {
    background-color: #4D6D62;
    color: #ffffff;
    text-align: left;
    margin: 15px;
    /* margin-bottom: 30px; */
    text-transform: uppercase;
    /* text-transform: capitalize; */
    padding: 10px;
    font-weight: 300px;
    border-radius: 5px;
}

#nombre,#apellido,#documento,#telefono,#mail,#nacionalidad, #contanos{
    display: block;
    margin: 10px auto;
    width: 75%;
    height: 35px;
    text-align: right;
    margin-left: 12%;
    margin-right: 10%;
}

#sexo{
    display: block;
    padding: 10px;
    margin: 10px;
}

#elegir-sexo{
    margin-bottom: 30px;
}

#nombre:focus,#apellido:focus,#documento:focus,#contanos:focus,#telefono:focus,#mail:focus{
    background-color: #4D6D62;
    color: #ffffff;
    font-size: 15px;
}

select{
    display: block;
    margin: 10px auto;
    width: 700px;
    height: 35px;
}

#contanos{
    display: block;
    /* margin: 10px auto; */
    /* width: 700px; */
}

/* Borde dotted alrededor de Datos de Contacto */
#datos-de-contacto:before, #datos-de-contacto:after{
    position: relative;
    content: "";
    width: 30%;
    left: 35%;
    display: block;
    margin-bottom: 10px;
    margin-top: 10px;
    border-bottom: 15px dotted #A6C1B9;
    width: 300px;     
    left: 50%;
    transform: translateX(-50%);
}


#actividades{
    text-align: left;
    
}

#sede{
    padding: 20px;
}

#indicacion{
    font-size: 15px;
    font-weight:lighter;
    margin-left: 20px;
    /* margin-top: 20px; */
}

#basquet{
    /* display: block; */
    margin-left: 20px;
}

#opciones-rosario{
    margin-bottom: 20px;
}


/* *************************
*                          *
*    estilos de botones    *
*                          *
************************* */

#condiciones, #novedades, #obligatorio{
    color: #ffffff;
    margin: 5px;
    text-align: left;
    margin-left: 10px;
}

#obligatorio{
    /* font-family: "Poppins"; */
    font-weight: bold;
    font-size: 15px;
    /* margin-left: 30px; */

}

.boton01 {
    border-radius: 5px;
    font-size: 20px;
    background-color: #4D6D62;
    color: #D4E2DE;
    text-align: left;
    margin: 15px;
    padding: 10px;
    font-weight: 300;   
}

.boton01:hover{
    background-color:#D4E2DE ;
    color: #4D6D62;
}

